html, body {
	height: 100%;
	overflow: hidden;
}

/*
 *	----- Header Start -----
 */
div#header{
	background-color: #3F3737;
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	padding-left: 15px;
	width: 100%;
}

/*
 *	----- Header Ende -----
 */
 
/*
 *	----- Navigation Start -----
 */
#navigation_back {
	background-color: #CCCCCC;
	height: 100%;
	width: 250px;
}

#navigation {
	border-bottom: 1px solid #CCCCCC;
	position: absolute;
}
#navigation, .nav_section, #navigation li {
	font-family: Tahoma;
	font-weight: bold;
	line-height: 35px;
	margin: 0;
	width: 250px;
}

#navigation .nav_section .nav_visible {
	background-color: #F1F0F0;
	border-right: 1px solid #CCCCCC;
	color: #000000;
	display: inline-block;
}
#navigation .nav_section .nav_link.nav_active {
	background-color: #D5D5D6 !important;
}

.nav_section .nav_link {
	display: none;
}

.nav_section .nav_link a {
	font-size: 14px;
}

#navigation .nav_section .nav_link:hover {
	background-color: #E1E0E0;
	color: #E12626;
	cursor: pointer;
}

.nav_section li {
	list-style-type: none;
	padding-left: 5px;
}

/* fügt zwischen zwei _sichtbaren_ nav_links eine border hinzu */
.nav_link.nav_visible ~ .nav_link.nav_visible { 
	border-top: 1px solid #CCCCCC;
}
.nav_header a {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}
.nav_link a {
	color: #000000;
	display: block;
	text-decoration: none;
}
.nav_link a:hover {
	color: #E12626;
}

#navigation .nav_header {
	background-color: #3F3737;
	color: #FFFFFF;
	font-weight: bolder;
	letter-spacing: 1px;
}

#navigation .nav_header.nav_header_myC5 {
	background-color: #E12626;
}

/*
 *	----- Navigation Ende -----
 */
