#navigation, .nav_section {
	width: 250px;
	margin: 0;
}

.nav_section ul {
	background-color: #F9F9F9;
	color: #000000;
	display: inline-block;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 35px;
	width: 250px;
}

#navigation .nav_header {
	background-color: #3F3737;
	color: #FFFFFF;
}

#navigation .nav_header.nav_header_myC5 {
	background-color: #E12626;
}