#navigation {
	width: 250px;
}

#myC5 {
	background-color: #E12626;
}

.fieldSize {
	width: 250px;
	line-height: 35px;
	font-family: Tahoma;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	list-style: none outside none;
	padding: 0px;
	margin: 0px;
	display: inline-block;

}

ul.fieldSize li {
	list-style: none outside none;
	color: #000000;
	background-color: #F9F9F9;
	border-bottom: 1px solid #E4E3E3;

}

ul#myC5 li:hover {
	background-color: #F1F0F0;
}

#team {
	background-color: #3F3737;
}

